@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+JP&family=Smooch&display=swap');

h1{
    color: bisque;
    background-color: black;
    text-align: center;
    font-family: 'Courgette', cursive;
    /*width: 300px; */
}

.primer-spam{
    color: red;
    background-color: blue;
}

.parrafo-contacto{
    font-size: 20px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.segundo-parrafo{
    font-size: 30px;
    font-weight: bold;
    background-color: blueviolet;
    /*width: 350px;*/
   /* height: 350px;*/
}
.tipografia-cursiva{
    font-family: 'Smooch', cursive;
}

.imagen{
    width: 400px;
    height: 300px;
}

.anchor{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: violet;
}

.fondo{
    width: 100%;
    height: 500px;
    background-image: url(./paisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-img{
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 